<!-- <div *ngFor="let toast of toastService.toasts; let i = index; trackBy: trackByFn">
  <ng-template #toastTemplate>
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
      <div class="" >
        <div class="toast-header">
          <strong *ngIf="toast.title" class="mr-auto">{{toast.title}}</strong>
        </div>
        <div class="toast-body">
          {{toast.message}}
        </div>
      </div>
    </div>

  </ng-template>
  <ng-template [ngTemplateOutlet]="toastTemplate"></ng-template>

</div> -->



<button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div #liveToast class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>